<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 800px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Tourist Trip Planning</h3>
    <div id="map"></div>
    <script>
      // function htmlDecode(input){
      //     var e = document.createElement('div');
      //     e.innerHTML = input;
      //     return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
      // }
	  function initMap() {
          var currentWindow;
	      array = <%-JSON.stringify(array)%>;
          restaurants = <%-JSON.stringify(restaurants)%>;
          userLocation=array[0][0].poi.location;
          colours=['F7FE2E','2efe6c','2ee5fe','ff99ff','FE422E','993399'];
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: userLocation
          });

          /*POSICION HOTEL*/
            var marker = new google.maps.Marker({
            position: userLocation,
            map: map,
            icon:'http://ospinas.com.co/wp-content/themes/ospinas/images/home-icon.png'
          });

          for(j in array){
              schedule = array[j];
              var n=1;
              for(i=1;i<schedule.length;i++){
                  if (schedule[i].poi) {

                      var infowindow = new google.maps.InfoWindow({
                          content: `
                                    <h3>${schedule[i].poi.name}</h3>
                                    <p><b>Check-in Time: </b>${schedule[i].start}</p>
                                    <p><b>Check-out Time: </b>${schedule[i].end}</p>
                                    <p><b>Website: </b><a href="${schedule[i].poi.website}" target="_blank">${schedule[i].poi.website}</a></p>
                                    <!--<p><b>Detalles Google: </b><a href="${schedule[i].poi.url}" target="_blank">${schedule[i].poi.url}</a></p>-->
                                    <p><a href="${schedule[i].poi.url}" target="_blank">Google Details</a></p>
                            `
                      });

                      var marker = new google.maps.Marker({
                            position: schedule[i].poi.location,
                            icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld='+n+'|'+colours[j],
                            map: map
                      });

                      google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                          return function() {
                              infowindow.setContent(content);
                              infowindow.open(map,marker);
                              if(currentWindow){
                                  currentWindow.close()
                              }
                              currentWindow = infowindow;
                          };
                      })(marker,infowindow.content,infowindow));
                      n++;
                  } else if (schedule[i].route) {
                          new google.maps.Polyline({
                              path: google.maps.geometry.encoding.decodePath(schedule[i].route),
                              strokeWeight: 7,
                              strokeColor: "#"+colours[j],
                              map: map
                          });
                  }

              }
		}

		restaurants.forEach(function (restaurant) {
            var infowindow = new google.maps.InfoWindow({
                content: `
                                    <h3>Lunch Time Recommendation</h3>
                                    <p><b>Restaurant: </b>${restaurant.name}</p>
                                    <p><b>Time: </b>${restaurant.time}</p>
                                    <p><a href="${restaurant.url}" target="_blank">Detalles de Google</a></p>
                            `
            });

            var marker = new google.maps.Marker({
                position: restaurant.geometry.location,
                icon: '/restaurant.png',
                map: map
            });

            google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                return function() {
                    infowindow.setContent(content);
                    infowindow.open(map,marker);
                    if(currentWindow){
                        currentWindow.close()
                    }
                    currentWindow = infowindow;
                };
            })(marker,infowindow.content,infowindow));

        });

      }
    </script>
    <script async defer	
    src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyBjLWzGBsWZIBwBNVMCqXbjwFEzNfomR0k&callback=initMap">
    </script>	
  </body>
</html>